header{
	text-align: center;
	color: #00272B;
	background: #b2b2b2;
	background-size: cover;
}
h1{
	font-size: 70px;
	font-family: 'Open Sans Condensed', cursive;
}
a{
	color: white;
}
ul{
	padding: 10px;
	background: #00272B;
	color: white;
}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
	font-family: "Courier New";
}
img{
	margin: 40px 0px 0px 0px;
	border: 7px solid white;
	border-radius: 7px;
}