header{
	text-align: center;
	color: #00272B;
	background: #b2b2b2;
	background-size: cover;
	font-family: "Courier New";
}
h1{
	font-size: 50px;
}
h2{
	font-size: 20px;
}
a{
	color: #e9e3e6;
}
ul{
	padding: 10px;
	background: #00272B;
	color: white;
}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
}
img{
	margin: 40px 0px 0px 0px;
	border: 7px #e9e3e6;
	border-radius: 7px;
}