header{
	text-align: center;
	color: #00272B;
	background: #c3baba;
	background-size: cover;
	font-family: "Courier New";
}
h1{
	font-size: 30px;
	padding: 0px, 0px, 0px, 0px;
}
h2{
	font-size: 20px;
	margin: 0px 0 70px 0;
}
a{
	color: white;
}
ul{
	padding: 10px;
	background: #00272B;
	color: white;
}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
}
img{
	margin: 40px 0px 0px 0px;
	border: 7px solid white;
	border-radius: 7px;
}